* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* PERTENECE A BARRA VERDE*/

.main-header {
    background-color: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
    position: fixed;
    top: 0;

}

/* COMBINACION DESCENDENTE BARRA VERDE*/
.main-header>div {
    display: inline-block;
    vertical-align: middle
}

.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-main {
    padding-top: 60px;
}

/* PERTENECE A LI (LISTA) */
.main-nav__item {
    display: inline-block;

}

/* PERTENECE A LA LISTA DESORDENADA EN GENERAL */
.main-nav__items {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* PERTENECE A LA BARRA DE NAVEGACION EN GENERAL*/
.main-nav {
    display: inline-block;
    width: 90%;
    text-align: right;
    vertical-align: middle
}

/* PERTENECE A LI (LISTA DLE MENÚ) */ 

.main-nav__item a {
    text-decoration: none;
    margin: 0 16px;
    font-weight: bold;
    font-size: 12;
    color: #0e4f1f;

}

.main-nav__item_mensajes::before {
    content: "✉";
    margin-right: 5px; 

}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    font-weight: bold;
    border-bottom: 5px solid white
}

.main-nav__item_logout a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
  }

  .main-nav__item_logout a:hover {
    color: #ff1b68;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
  }

  .main-login__title {
      text-align: center;
      color: #ff5454;
      padding-top: 20px;
  }

  .login-form {
      width: 15em;
      margin: auto;
  }

  .login-form label, .login-form input {
      display: block;
      margin-top: 25px;
      width: 100%;
  }

  .login-form input[type="text"], .login-form input[type="password"] {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
  }
  
  .login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
    background: #d8f3df;
    border-color: #2ddf5c;
  }

  .login-form input[type="submit"] {
    background: #0e4f1f;
    color: white;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  .login-form input[type="submit"]:hover,
.login-form input[type="submit"]:active {
  background: white;
  color: #0e4f1f;
}
  
  
  .login-form label {
    font-weight: bold;
  }


